body {
    background-color: hotpink;
}

.div_main{
    text-align: center;
    font-size: 200px;
    color: white;
    position: absolute;
    top: 25%;
    width: 100%;
    font-family: 'Great Vibes', cursive;

}

.div_text {
    color: white;
    font-size: 25px;
    
}